<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</head>

<body>
  <div id="background">
    <div id="app" class="container">
      <h1>LIST OF BREWERIES</h1>
      <ul>
        <li v-for=" brewery in breweries" @click="getBrewery(brewery.id)">
          {{ `${brewery.name} esta en ${brewery.city}`}}
        </li>
      </ul>

      <div id="details">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Street</th>
              <th>City</th>
              <th>State</th>
              <th>Country</th>
            </tr>
          </thead>
          <tr>
            <td>{{brewery.name}}</td>
            <td>{{brewery.street}}</td>
            <td>{{brewery.city}}</td>
            <td>{{brewery.state}}</td>
            <td>{{brewery.country}}</td>
          </tr>
        </table>
      </div>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var app = new Vue({
    el: "#app",
    data: {
      breweries: [],
      brewery: {},
    },
    created() {
      axios
        .get(`https://api.openbrewerydb.org/breweries?per_page=10`)
        .then((response) => {
          // JSON responses are automatically parsed.
          this.breweries = response.data;
        })
        .catch((e) => {
          // this.errors.push(e);
          console.log(e);
        });
    },
    methods: {
      getBrewery(id) {
        axios
          .get(`https://api.openbrewerydb.org/breweries/${id}`)
          .then((response) => {
            // JSON responses are automatically parsed.

            this.brewery = response.data;
          })
          .catch((e) => {
            // this.errors.push(e);
            console.log(e);
          });
      },
    },
  });
</script>

</html>