body{
    background-color: gainsboro;   
}

h1{
    padding-top: 30px;
    text-align: center;
}

ul {
    list-style-image: url("img/cerveza.png");
    margin-left: 0px;
  }

ul li{
    margin: 10px;
}

ul li:hover{
    color: orange;
}

table{
    margin-top: 40px;
}

table tr th, table tr td{
    text-align: center;
}


